---
import { v2 as cloudinary } from "cloudinary";
import { Picture } from "astro:assets";
import left from "../icons/chevron-left-solid.svg?raw";
import right from "../icons/chevron-right-solid.svg?raw";
import play from "../icons/circle-play-regular.svg?raw";
import loading from "../icons/loading.svg?raw";
import Icon from "../components/Icon.astro";

export interface Props {
  folder: string;
  filter?: string;
}

export interface CloudinaryResource {
  secure_url: string;
  resource_type: string;
  width: number;
  height: number;
  duration: number;
  aspect_ratio: number;
  context: { alt: string };
}

cloudinary.config({
  cloud_name: import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME,
  api_key: import.meta.env.PUBLIC_CLOUDINARY_API_KEY,
  api_secret: import.meta.env.SECRET_CLOUDINARY_API_KEY,
  secure: true,
});

const search = await cloudinary.search
  .expression(`folder:${Astro.props.folder}`)
  .with_field("context")
  .sort_by("display_name", "asc")
  .max_results(500)
  .execute();

const resources = search.resources as CloudinaryResource[];
const filteredResources = Astro.props.filter ? resources.filter((resource) => resource.resource_type == Astro.props.filter) : resources;

const gallerySpacing = "m-1";
---

<div class={`flex flex-wrap ${gallerySpacing}`}>
  {
    filteredResources.map((CloudinaryResource, index) => (
      <div
        data-position={`${index == 0 ? "first" : index + 1 == filteredResources.length ? "last" : "middle"}`}
        onclick="setFullscreen(this)"
        ontouchend="if (!isScrolling) setFullscreen(this)"
        class={`relative cursor-zoom-in fullscreen:cursor-auto ${gallerySpacing}`}
        style={`flex-grow: ${(CloudinaryResource.width * 400) / CloudinaryResource.height}; flex-basis: ${(CloudinaryResource.width * 400) / CloudinaryResource.height}px;`}
      >
        <div class="block" style={`padding-bottom: ${(CloudinaryResource.height / CloudinaryResource.width) * 100}%`} />

        <div role="status" class="absolute top-1/2 left-1/2 z-[2] hidden -translate-x-1/2 -translate-y-1/2 fullscreen:fixed fullscreen:block">
          <span class="sr-only">loading image...</span>
        </div>

        {CloudinaryResource.resource_type == "image" ? (
          <Picture
            src={CloudinaryResource.secure_url}
            width={CloudinaryResource.width}
            height={CloudinaryResource.height}
            widths={[800, 1200, 2000]}
            sizes="(min-width: 1150px) 50vw, (min-width: 900px) 75vw, 100vw"
            alt={CloudinaryResource.context?.alt || ""}
            class="absolute inset-0 h-full w-full object-cover opacity-0 transition-opacity duration-1000"
            loading={index <= 10 ? "eager" : "lazy"}
            onload="this.style.opacity=1; this.parentNode.querySelector('[role=status]').style.display = 'none';"
            draggable="false"
          />
        ) : (
          <div>
            <div>
              <video
                id={`video-${index}`}
                loop
                webkit-playsinline
                playsinline
                muted
                preload="none"
                onclick="this.paused ? this.play() : this.pause()"
                onmouseover="previewVideo(this)"
                onmouseout="resetVideo(this)"
                oncanplay="this.parentNode.previousElementSibling.style.display = 'none';"
                class="resource pointer-events-none absolute top-0 h-full w-full object-cover align-bottom fullscreen:pointer-events-auto"
              >
                <source src={CloudinaryResource.secure_url} type="video/mp4" />
                Your browser does not support HTML video.
              </video>
            </div>

            <div class="video-duration pointer-events-none absolute bottom-0 flex w-full items-center justify-start bg-gradient-to-t from-black/50 to-transparent font-mono fullscreen:fixed fullscreen:left-0 fullscreen:z-[2] fullscreen:pl-6 fullscreen:pb-6">
              <Icon name="play" />
              <div class="text-xs">
                <span id={`current-time-video-${index}`} class="current-time hidden fullscreen:inline-flex">
                  0:00 /{" "}
                </span>
                <span>{new Date(CloudinaryResource.duration * 1000).toISOString().slice(15, 19)}</span>
              </div>
            </div>
          </div>
        )}
      </div>
    ))
  }

  <!-- placeholders required to properly size images in the last/incomplete row -->
  <!-- {Array.from({length: 10}, () => (
    <div class="m-0 h-0 grow-[100] basis-[240px]"></div>
  ))} -->
</div>

<div id="fullscreen-backdrop" class="scale-200 pointer-events-none fixed inset-0 z-[1] h-screen w-screen bg-black opacity-0 transition-opacity duration-200">
  <!-- but image -->
</div>

<div id="fullscreen-controls" class="pointer-events-none fixed top-0 z-[3] h-screen w-screen opacity-0 transition-opacity duration-200">
  <button type="button" onclick="prevResource()" class="fixed left-0 mt-[25vh] flex h-[50vh] w-[15vw] items-center opacity-0 hover:opacity-100 md:w-[25vw]">
    <div class="absolute left-0 ml-4 rounded-full bg-neutral-700 p-2 md:ml-8 md:p-4">
      <Icon name="left" />
      <span class="sr-only">previous image</span>
    </div>
  </button>

  <button type="button" onclick="nextResource()" class="fixed right-0 mt-[25vh] flex h-[50vh] w-[15vw] items-center opacity-0 hover:opacity-100 md:w-[25vw]">
    <div class="absolute right-0 mr-4 rounded-full bg-neutral-700 p-2 md:mr-8 md:p-4">
      <Icon name="right" />
      <span class="sr-only">next image</span>
    </div>
  </button>

  <button type="button" onclick="escapeFullscreen(true)" class="fixed ml-2 mt-2 rounded-full bg-neutral-700/50 p-3 hover:bg-neutral-700">
    <Icon name="x" />
    <span class="sr-only">exit image</span>
  </button>

  <div id="fullscreen-metadata" class="fixed right-0 top-0 h-screen w-80 bg-black/50 p-6 text-white">
    <h2 class="mb-2 text-xl font-bold">Test Title</h2>
    <p class="text-sm text-gray-200">This is a test description to make sure the metadata display is working.</p>
  </div>
</div>

<script client:inline>
  let isAnimating = false;

  function setFullscreen(element, animation) {
    if (element.id == "fullscreen") {
      return;
    }

    disableScrolling();
    enableFullscreenControls();
    element.id = "fullscreen";

    const resource = element.querySelector(".resource");

    if (resource.readyState <= 1) resource.load();

    document.getElementById("fullscreen-metadata").style.opacity = "1";
    document.getElementById("fullscreen-metadata").style.pointerEvents = "auto";

    if (animation) {
      isAnimating = true;

      resource.classList.add(animation);
      fullscreenResource(resource);

      setTimeout(() => {
        playFullscreenVideo();
        resource.classList.remove(animation);
        isAnimating = false;
      }, 200);
    } else {
      zoomIn(resource);
    }
  }

  function escapeFullscreen(close) {
    const fullscreen = document.getElementById("fullscreen");

    if (!fullscreen || isAnimating) return;

    fullscreen.querySelector("video")?.pause();
    fullscreen.querySelector("video")?.blur();

    if (close) {
      zoomOut(fullscreen.querySelector(".resource"));
      disableFullscreenControls();
    } else {
      fullscreenResource(fullscreen.querySelector(".resource"));
    }
  }

  function zoomIn(resource) {
    resource.classList.add("zoom-in");
    fullscreenResource(resource);
    setTimeout(() => {
      resource.classList.remove("zoom-in");
    }, 200);
  }

  function zoomOut(resource) {
    if (!resource) return;
    resource.classList.add("zoom-out");
    setTimeout(() => {
      resource.classList.remove("zoom-out");
      const fullscreen = document.getElementById("fullscreen");
      if (fullscreen) fullscreen.removeAttribute("id");
    }, 200);
  }

  function fullscreenResource(resource) {
    const fullscreen = document.getElementById("fullscreen");
    const resourceHeight = resource.naturalHeight;
    const resourceWidth = resource.naturalWidth;

    fullscreen.classList.add("fullscreen");
    document.querySelector("#fullscreen-backdrop").classList.add("active");
    document.querySelector("#fullscreen-controls").classList.add("active");

    const changeBackdrop = () => {
      document.querySelector("#fullscreen-backdrop").classList.remove("active");
    };
    setTimeout(changeBackdrop, 200);

    // pre-position the next/previous resources by setting fullscreen transform properties
    resetResources();

    if (fullscreen.dataset.position == "first") {
      document.querySelectorAll(`[data-position="middle"]`).forEach((resource) => {
        resource.style.transform = `translateX(calc(100vw - ${resourceWidth / 2}px))`;
      });
      const last = document.querySelector(`[data-position="last"]`);
      last.style.transform = `translateX(calc(100vw - ${resourceWidth / 2}px))`;
    } else if (fullscreen.dataset.position == "last") {
      document.querySelectorAll(`[data-position="middle"]`).forEach((resource) => {
        resource.style.transform = `translateX(calc(-100vw + ${resourceWidth / 2}px))`;
      });
      const first = document.querySelector(`[data-position="first"]`);
      first.style.transform = `translateX(calc(-100vw + ${resourceWidth / 2}px))`;
    } else {
      const prev = fullscreen.previousElementSibling;
      prev.style.transform = `translateX(calc(-100vw + ${resourceWidth / 2}px))`;

      const next = fullscreen.nextElementSibling;
      next.style.transform = `translateX(calc(100vw - ${resourceWidth / 2}px))`;

      const first = document.querySelector(`[data-position="first"]`);
      first.style.transform = `translateX(calc(${100 * (1 - Array.from(fullscreen.parentNode.children).indexOf(fullscreen))}vw - ${
        resourceWidth / 2
      }px))`;

      const last = document.querySelector(`[data-position="last"]`);
      last.style.transform = `translateX(calc(-${100 * (Array.from(fullscreen.parentNode.children).length - 1 - Array.from(fullscreen.parentNode.children).indexOf(fullscreen))}vw - ${
        resourceWidth / 2
      }px))`;
    }

    // Center the clicked image or video in fullscreen
    resource.style.height = `${resourceHeight}px`;
    resource.style.width = `${resourceWidth}px`;
    resource.style.maxHeight = "60vh";
    resource.style.maxWidth = "90vw";

    // fix the fullscreen element when zoomed in fullscreen
    fullscreen.style.position = "fixed";
    fullscreen.style.top = "50%";
    fullscreen.style.left = "50%";
    fullscreen.style.transform = "translate(-50%, -50%)";
    fullscreen.style.width = `${resourceWidth}px`;
    fullscreen.style.height = `${resourceHeight}px`;
  }

  function enableFullscreenControls() {
    document.querySelector("#fullscreen-backdrop").classList.add("active");
    document.querySelector("#fullscreen-controls").classList.add("active");
  }

  function disableFullscreenControls() {
    const fullscreen = document.getElementById("fullscreen");
    if (fullscreen) fullscreen.removeAttribute("id");

    document.querySelector("#fullscreen-backdrop").classList.remove("active");
    document.querySelector("#fullscreen-controls").classList.remove("active");

    resetResources();
  }

  function resetResources() {
    const resources = document.querySelectorAll(".gallery .resource");
    resources.forEach((resource) => {
      resource.removeAttribute("style");
      resource.parentElement.removeAttribute("style");
    });
  }

  function prevResource() {
    const fullscreen = document.getElementById("fullscreen");
    if (fullscreen.previousElementSibling) {
      fullscreen.previousElementSibling.click();
    } else {
      // roll back to last image
      const last = document.querySelector(`[data-position="last"]`);
      last.click();
    }
  }

  function nextResource() {
    const fullscreen = document.getElementById("fullscreen");
    if (fullscreen.nextElementSibling) {
      fullscreen.nextElementSibling.click();
    } else {
      // roll to first image
      const first = document.querySelector(`[data-position="first"]`);
      first.click();
    }
  }

  let isScrolling = false;
  let timer;
  let lastTouchY = 0;

  function disableScrolling() {
    document.body.style.overflow = "hidden";
  }

  function enableScrolling() {
    document.body.style.overflow = "auto";
  }

  function previewVideo(video) {
    // avoid autoplay in fullscreen mode
    if (document.getElementById("fullscreen")) return;
    video.currentTime = 0;
    video.play();
  }

  function resetVideo(video) {
    if (document.getElementById("fullscreen")) return;
    video.pause();
    video.currentTime = 0;
  }

  document.addEventListener(
    "wheel",
    (event) => {
      clearTimeout(timer);
      isScrolling = true;
      timer = setTimeout(() => {
        isScrolling = false;
      }, 100);
    },
    false
  );

  document.addEventListener(
    "touchstart",
    (event) => {
      clearTimeout(timer);
      isScrolling = true;
      lastTouchY = event.touches[0].clientY;
    },
    false
  );

  document.addEventListener(
    "touchmove",
    (event) => {
      const currentTouchY = event.touches[0].clientY;
      const deltaY = Math.abs(currentTouchY - lastTouchY);
      if (deltaY > 5) {
        // consider any significant vertical movement as scrolling
        clearTimeout(timer);
        timer = setTimeout(() => {
          isScrolling = false;
        }, 100);
      }
    },
    false
  );

  document.addEventListener(
    "touchend",
    (event) => {
      clearTimeout(timer);
      timer = setTimeout(() => {
        isScrolling = false;
      }, 100);
    },
    false
  );
</script>
